<div class="page-container">
  <div class="expense-list">
    <h2>Expense List</h2>

    <!-- Add a dropdown to select the view -->
    <div class="view-selector">
      <label for="viewSelector">Select View: </label>
      <select id="viewSelector" [(ngModel)]="currentView">
        <option value="history">History</option>
        <option value="currentMonth">Current Month</option>
      </select>
    </div>

    <!-- "Add new" button and modal code... -->

    <!-- Use *ngIf to conditionally render the view based on the selected option -->
    <div *ngIf="currentView === 'history'">
      <!-- Your history view code... -->
      <h1>history</h1>
      <app-expense-list-history></app-expense-list-history>
    </div>

    <div *ngIf="currentView === 'currentMonth'">
      <!-- Your current month view code... -->
      <h1>current</h1>
    </div>
  </div>
</div>
